@charset "utf-8";
/* 你自己的样式 */

/* 订单列表 筛选字段 */
.filter-nav {
    padding-top: 20px;
}
.filter-nav .input-text {
    width: 120px;
}
.filter-nav .newline {
    margin-top: 10px;
}
.filter-nav .fields-div {
    display: inline-block;
    margin-right: 20px;
}

.pull-right {
    float: right;
}

/* layer 样式 */
