/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
/public/uploads
/public/ueditor
/public/attachments

/app/lib/Wxpay/cert
/app/lib/Wxpay/WxPay.Config.php

Homestead.json
Homestead.yaml
.env
